.container-fluid{
    background: linear-gradient(
   116deg, rgba(66, 109, 244, 0.75) 34.51%, rgba(55, 201, 112, 0.75) 81.97%) ;
   
  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
  
}
body, html {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
.theme-card{
    border-radius: 2rem !important;
}
.img-theme-card{
    border-top-left-radius:2rem !important;
    border-bottom-left-radius:2rem !important;

}
.theme-card-title{
    color: #4285F4 !important;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.theme-card-text{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.theme-card-button{
    
background: #4285F4 !important;



box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.30);
}
.theme-card-button:hover{
    background: #1066f1 !important;
    box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.30);
}


  
  .completed-card {
    background-color: #FBBC05 !important;
    .theme-card-title{
        color: #fff !important;
    }
    .theme-card-text{
        color: #fff !important;
    } 
  }
  

  