.lesson-container {
    background: linear-gradient(
116deg, rgba(66, 109, 244, 0.75) 34.51%, rgba(55, 201, 112, 0.75) 81.97%) ;
    display: flex;
    margin: 0%;
    width: 100vw;
    height: 100vh;
}